/* Reset all web parameters */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    user-select: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a,
img,
input,
button,
.icon {
    display: block;
}

html {
    scroll-behavior: smooth;
    font-family: sans-serif;
}

.all-movies {
    width: 80%;
    margin: 5vh auto;
}

.venue {
    width: 300px;
    min-height: 220px;
    padding: 20px;
    margin: 20px;
    border: 1px solid var(--black);
    border-radius: 20px;
    background-color: var(--very-light-blue);
}

.venue-name {
    font-size: 20px;
}

.show {
    display: flex;
    justify-content: space-evenly;
    margin: 10px auto;
}

.venue-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.venue-buttons button {
    width: 120px;
    height: 40px;
    font-size: 18px;
    border: 1px solid var(--black);
    border-radius: 8px;
}

.popup-modal {
    position: absolute;
    top: 5vh;
    left: 5vw;
    margin: auto auto;
    padding: 40px;
    width: 90vw;
    height: 90vh;
    background-color: var(--very-light-blue);
    opacity: 0.9;
    border: 1px solid var(--black);
    border-radius: 60px;
}

.view-none {
    display: none;
}

.view-block {
    display: block;
}

.popup-modal p {
    width: 50%;
    margin: 10vh auto;
}